[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{php,inc}]
indent_size = 4

[*.{txt,snip}]
indent_size = 2
indent_style = tab

[*.go]
indent_size = 4
indent_style = tab

[*.js]
indent_size = 2

[*.{jsx,json,ts}]
indent_size = 4

[*.py]
indent_size = 4

[*.snip]
indent_size = 4
indent_style = tab
