[user]
	name = miyaviee
	email = miyaviee@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
	ignorecase = false
	autocrlf = input
	eol = lf
[pull]
	rebase = false
[advice]
	skippedCherryPicks = false
[push]
	autoSetupRemote = true
