[user]
	name = miyaviee
	email = miyaviee@users.noreply.github.com
[init]
	templatedir = ~/.git_template
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[advice]
	skippedCherryPicks = false
