[MASTER]
ignore=
    migrations,
    tests,

[MESSAGES CONTROL]
disable=
    access-member-before-definition,
    attribute-defined-outside-init,
    broad-except,
    import-error,
    invalid-name,
    missing-docstring,
    no-name-in-module,
    no-self-use,
    no-value-for-parameter,
    too-few-public-methods,
    unused-argument,
