[MASTER]
ignore-patterns=
    \d{4}_\w+.py,
    test_.*.py,

load-plugins=
    pylint_django,

[MESSAGES CONTROL]
disable=
    access-member-before-definition,
    attribute-defined-outside-init,
    bad-continuation,
    broad-except,
    import-error,
    invalid-name,
    missing-docstring,
    no-name-in-module,
    no-self-use,
    no-value-for-parameter,
    too-few-public-methods,
    too-many-arguments,
    unused-argument,
