"*":
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "no"
  "exception-reporting":
    userId: "78fbff86-d969-9816-a874-e9ecebf36eb5"
  welcome:
    showOnStartup: false
